<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">阅读我们已举办的活动专题文章</h2>
                <hr class="light">
                <p class="text-faded">点击下方按钮开始了解</p>
                <a href="https://mp.weixin.qq.com/s?__biz=Mzk2NDAwMzcwMg==&mid=2247483754&idx=1&sn=76605f2429928e7cdd241f5484e7b1ed" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
