<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">关注</h2>
                <hr class="primary">
                <p>点击下方链接关注我们，第一时间获得最新消息</p>
            </div>
        <!-- <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://weibo.com/{{ site.weibo_username }}">
                <i class="fa fa-weibo fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.weibo_username }}</p>
            </a>
        </div> -->
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.xiaohongshu.com/user/profile/6685583c0000000003033699">
                <img src="img/icon/xiaohongshu.png" alt="Xiaohongshu" class="wow bounceIn" data-wow-delay=".1s" style="width:56px; height:56px;"></i>
                <p>{{ site.xiaohongshu_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="img/others/wechatpublicaccount.jpg">
            <i class="fa fa-wechat fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.wechat_public_account }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.douyin.com/user/MS4wLjABAAAAkyNOQkAUnDKKeNhKPGzup8korfLSzUlzN6UEKlI0BkrGiSGLVar70avf_qHR20Fe">
                <img src="img/icon/douyin.png" alt="Xiaohongshu" class="wow bounceIn" data-wow-delay=".1s" style="width:56px; height:56px;"></i>
                <p>{{ site.douyin_username }}</p>
            </a>
        </div>
        
    </div>
    
</section>
