<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">空竹赛高</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>空竹溯古：转动的东方哲学</h3>
                    <p class="text-muted">自唐宋「弄斗」发源，至明清宫廷雅戏臻于鼎盛，空竹以竹木为媒，借丝弦传音，将中国「天圆地方」的宇宙观与「动静相生」的生命哲思凝于方寸。单轮谓「乾」，双轮曰「坤」，每一次抛接皆是太极轮回的微观演绎。  
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>弦上芭蕾：力与美的空间诗学</h3>
                    <p class="text-muted">
                        「基础九式」
                        - 风摆荷叶（横向平旋）  
                        - 金鸡上架（杆端平衡）  
                        - 织女穿梭（跨腿抛接）  
                        
                        「高阶技法」 
                        - 流星赶月（三空竹接力）  
                        - 八仙过海（多人阵型变幻）  
                        </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>匠造之道：七步成器的灵魂共鸣</h3>
                    <p class="text-muted">「择材」「塑形」</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>保持热爱</h3>
                    <p class="text-muted">Made with Love</p>
                </div>
            </div>
        </div>
    </div>
</section>
